.header {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
}

.logo_image,
.button_image {
  width: 10%;
  max-width: 40px;
  margin: 0 5px;
  cursor: pointer;
}
.title {
  font-size: 1em;
}
.search_input {
  width: 80%;
  margin-left: 20px;
  padding: 10px;
  border: none;
}
